/* 탭 링크 스타일링 */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* 탭 링크 버튼 스타일 */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* 탭 링크 활성화 시 */
.tab button:hover {
    background-color: #ddd;
}

/* 탭 컨텐츠 (숨김 처리 기본) */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* 선택된 탭 링크 스타일 */
.tab button.active {
    background-color: #ccc;
}

/* Grinding Calculator 스타일 추가 */
.result {
    margin-top: 20px;
    color: #333;
}

#GrindingCalculator form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#GrindingCalculator h1 {
    margin-bottom: 20px;
    color: #333;
}

#GrindingCalculator label {
    display: block;
    margin: 10px 0 5px;
    color: #666;
}

#GrindingCalculator input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#GrindingCalculator button {
    padding: 10px 20px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#GrindingCalculator button:hover {
    background-color: #218838;
}
