/* 탭 링크 스타일링 */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* 탭 링크 버튼 스타일 */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* 탭 링크 활성화 시 */
.tab button:hover {
    background-color: #ddd;
}

/* 탭 컨텐츠 (숨김 처리 기본) */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* 선택된 탭 링크 스타일 */
.tab button.active {
    background-color: #ccc;
}
